@use '../abstracts/' as *; 

.footer {
  padding-block: 2rem;
  .logo {
    display: block;
    width: 80px;

    img {
      width: 100%;
    }

    margin-bottom: 2rem;
  }

  &__copy {
    color: get-color(primary);
    display: flex;
    flex-direction: column;
    gap: .5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: .5rem;      
    }
  }
}