@use '../abstracts/' as *;

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  
  @include breakpoint-min('tablet') {
    gap: 1rem;
  }

  .gallery-thumbnail {
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
    width: 80px;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    @include breakpoint-min('tablet-sm') {
      width: 100px;
    }

    @include breakpoint-min('desktop') {
      width: 120px;
    }
  }
}