@use '../abstracts/' as *;

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: .5rem 0;
  background-color: rgba(white, .8);
  backdrop-filter: blur(3px);
  z-index: 10;

  &__nav--mobile {
    display: flex;
    place-content: space-between;
    place-items: center;
    position: relative;

    .logo {
      width: 100px;

      img {
        max-width: 100%;
      }
    }

    .overlay {
      background-color: rgba(black, 0.3);
      cursor: pointer;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }

    aside {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100vh;
      position: fixed;
      padding: 10rem 3rem 0;
      right: 0;
      top: 0;
      transition: right .35s ease-in;
      width: 80%;
      background-color: white;

      ul {
        display: flex;
        flex-direction: column;
        place-items: flex-start;
        gap: 2rem;

        li {
          text-align: center;
          text-transform: uppercase;
          color: get-color(primary);

          a {
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
    }


    .nav-button {
      background-color: transparent;
      cursor: pointer;
      display: block;
      display: flex;
      flex-direction: column;
      gap: .5rem; 
      transition: all .3s ease-in-out;
      z-index: 60;
  
      span {
        background-color: get-color(primary);
        border-radius: 4px;
        display: block;
        height: 3px;
        opacity: 1;
        pointer-events: none;
        transition: transform .2s ease-in, opacity .2s ease-in, width .2s ease-in;
        width: 2rem;
      }
    }
    
    &.closed {
      aside {
        right: -100%;
      }
    }

    &.open {
      aside {
        right: -6%;
      }

      .nav-button {
        span:first-child {
          transform: translateY(11px) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
          width: 0;
        }

        span:last-child {
          transform: translateY(-11px) rotate(-45deg);
        }
      }
    }

    @include breakpoint-min('tablet') {
      display: none;
    }
  }

  &__nav--desktop {
    display: none;
  }

  @include breakpoint-min('tablet') {
    &__nav--desktop {
      align-items: center;
      display: flex;
      place-content: space-between;
      position: relative;
  
      ul {
        display: none;
      }

      .logo {
        width: 120px;

        img {
          max-width: 100%;
        }
      }
    }

    .nav-button {
      display: none;
    }

    ul {
      display: flex;
      gap: 2rem;
      position: static;
      flex-direction: row;

      li {
        text-align: center;
        text-transform: uppercase;
        color: get-color(primary);
        
        a {
          font-weight: 600;
          text-decoration: none;
          padding: 1rem .5rem;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: .5rem;
            right: .5rem;
            bottom: 5px;
            height: 3px;
            background-color: get-color(primary);
            transition: opacity .2s ease-in-out, transform .2s ease-in-out;
            transform: scaleX(0);
            transform-origin: right top;
          }
          
          &:hover::after, &:focus::after {
            transform: scaleX(1);
            transform-origin: left top;
          }
          &:focus {
            outline: 1px dotted rgba(get-color(primary), $alpha: .4);
          }
        }
      }
    }
  }
}

